@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@await Component.InvokeAsync("Slide")

<!-- Product Category -->

<div class="product-Collection">
    <div class="coll-container">

        <div class="column">
            <div class="women-collection collection">
                <img src="~/Theme/assets/image/Screenshot009.jpg" alt="" width="100%">
                <div class="categories__text">
                    <h1>زنانه</h1>
                    <a href="#">همین الان خرید کن</a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="men-collection collection">
                <img src="~/Theme/assets/image/Screenshot001.jpg" alt="" width="100%">
                <div class="categories__text">
                    <h1>مردانه</h1>
                    <a href="#">همین الان خرید کن</a>
                </div>
            </div>
            <div class="cusmotic-collection collection">
                <img src="~/Theme/assets/image/Screenshot003.jpg" alt="" width="100%">
                <div class="categories__text">
                    <h1>لوازم آرایش</h1>
                    <a href="#">همین الان خرید کن</a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="kid-collection collection">
                <img src="~/Theme/assets/image/Screenshot002.jpg" alt="" width="100%">
                <div class="categories__text">
                    <h1>بچه گانه</h1>
                    <a href="#">همین الان خرید کن</a>
                </div>

            </div>
            <div class="accessori-collection collection">
                <img src="~/Theme/assets/image/Screenshot004.jpg" alt="" width="100%">
                <div class="categories__text">
                    <h1>اکسسوری</h1>
                    <a href="#">همین الان خرید کن</a>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- End -->
<!-- about us -->
<div class="about-box">
    <div class="about-container">
        <div class="about-column ">
            <div class="img-about">
                <img src="~/Theme/assets/image/left-img_large_large.jpg" alt="" width="100%">
            </div>
        </div>
        <div class="about-column">
            <div class="text-about">
                <div style="margin-left: 12%;">
                    <h1>به فروشگاه ما خوش آمدید</h1>
                    <p dir="rtl">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End -->
<!-- New Product -->
<h3 style="text-align: center;font-weight: bold;font-size: 20px;">جدید ترین ها</h3>
<div class="e">
    <div class="tab">

        <button class="tablinks" onclick="openCity(event, 'Women')">زنانه</button>
        <button class="tablinks" onclick="openCity(event, 'Men')">مردانه</button>
        <button class="tablinks" onclick="openCity(event, 'Kid')">بچگانه</button>
        <button class="tablinks" onclick="openCity(event, 'Accessories')">اکسسوری</button>
        <button class="tablinks" onclick="openCity(event, 'Cosmetics')">لوازم آرایشی</button>

    </div>

    <div id="Women" class="tabcontent active">
        <div class="Product-Wrapper">
            <div class="owl-carousel owl-theme">

                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/ap6488_6_1.jpg" alt="image">

                    <div class="product-body">
                        <p class="product-category">
                            آیلار
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​شلوار زنانه جین چسبان آبی آیلار

                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۳٫۲۰۰٫۰۰۰ ريال

                        </h4>

                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/ap8990_1.jpg" alt="image">

                    <div class="product-body">
                        <p class="product-category">
                            Diverse
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​شومیز زنانه بنفش سفید چهارخانه دایورس

                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۴٫۳۵۰٫۰۰۰ريال

                        </h4>

                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/ap8992_3.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Diverse
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                شومیز زنانه نخی آبی روشن دایورس

                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۴٫۴۸۰٫۰۰۰ ريال
                        </h4>
                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/ao1476_1.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Haya
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​​سرهمی زنانه کرم قهوه ای پوست ماری هایا


                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۱٫۷۷۰٫۰۰۰ ريال
                        </h4>
                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/ap9842_1.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Aylar
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​سرهمی زنانه کرپ سفید سبز آیلار



                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۳٫۳۴۰٫۰۰۰ ريال
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Men" class="tabcontent">
        <div class="Product-Wrapper">
            <div class="owl-carousel owl-theme">

                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/an7534_1.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Borcello
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                شلوار مردانه پارچه‌ ای زغالی


                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۱٫۷۴۳٫۰۰۰ ريال
                        </h4>
                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/ao2567_2.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Edmond
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​پیراهن مردانه هلویی ادموند
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۱٫۶۳۰٫۰۰۰ ريال

                        </h4>

                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/an9285_5_1.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Swayam
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​شلوار مردانه کتان زغالی ملانژ
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۱٫۱۱۳٫۰۰۰ ريال

                        </h4>
                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/ms5060_5.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Valiant
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​کاپشن مردانه دو رو مدل 1111 کرم مشکی والیانت
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۵٫۶۰۰٫۰۰۰ ريال
                        </h4>
                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/ms5061_1.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Valiant
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​کاپشن مردانه دو رو مدل 1112 قرمز مشکی
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۵٫۶۰۰٫۰۰۰ ريال
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Kid" class="tabcontent">
        <div class="Product-Wrapper">
            <div class="owl-carousel owl-theme">
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/ap7252_3.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Hobon
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​شلوار پسرانه اسلش آبی حوبون
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۱٫۴۰۰٫۰۰۰ ريال
                        </h4>
                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/ap7574_4.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Piano
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​​​ست بلوز و لگینگ دخترانه نخی طوسی آبرنگی
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۲٫۲۳۲٫۰۰۰ ريال

                        </h4>

                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/ap7276_4.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Piano
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​​سرهمی دخترانه جین آبی تیره Piano
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۲٫۲۲۴٫۰۰۰ ريال

                        </h4>
                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/ap8313_4.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Cuddlesome
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​تاپ دخترانه نوزادی سفید صورتی کادلسم
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۸۵۰٫۰۰۰ ريال
                        </h4>
                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/ap7281_5.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Piano
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​​شلوار پسرانه کتان دمپا کش زرشکی Piano
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۲٫۵۸۰٫۰۰۰ ريال
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Accessories" class="tabcontent">
        <div class="Product-Wrapper">
            <div class="owl-carousel owl-theme">
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/mu6409_1.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Fossil
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​ساعت مچی هوشمند مردانه مدل FTW4017 مشکی
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۱۱۷٫۰۰۰٫۰۰۰ ريال
                        </h4>
                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/mu6411_3.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Fossil
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​​​ساعت مچی هوشمند زنانه مدل FTW6011 رزگلد
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۱۱۷٫۰۰۰٫۰۰۰ ريال

                        </h4>

                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/ap9859_2.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Aylar
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                شال زنانه حریر سرمه ای گلدار آیلار
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۸۵۰٫۰۰۰ ريال

                        </h4>
                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/mu6406_2.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Michael Kors
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​ساعت مچی هوشمند زنانه مدل MKT5067 سفید
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۱۱۷٫۰۰۰٫۰۰۰ ريال
                        </h4>
                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/ce4354---(1).jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Avizeh
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                گوشواره میخی دست ساز سرمه ای زرد آویزه
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۱٫۸۵۰٫۰۰۰ ريال
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Cosmetics" class="tabcontent">
        <div class="Product-Wrapper">
            <div class="owl-carousel owl-theme">
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/mu0393_1.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Bourjois
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​ریمل بلند کننده و حجم دهنده Max
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۲٫۰۰۰٫۰۰۰ ريال
                        </h4>
                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/mu0363_1.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Spark Wooden
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​​​کرم ضد آفتاب SPF50 بژ روشن 004
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۸۴۰٫۰۰۰ ريال
                        </h4>

                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/aq0405_2.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Revolution
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                پالت رژگونه Golden Sugar رولوشن
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۳٫۲۰۰٫۰۰۰ ريال

                        </h4>
                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/aq0393_1.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Maybelline
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                ​ریمل حجم‌دهنده ColoSsal مشکی
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۱٫۵۰۰٫۰۰۰ ريال
                        </h4>
                    </div>
                </div>
                <div class="img-slider">
                    <img src="~/Theme/assets/image/products/mu0231_2.jpg" alt="image">
                    <div class="product-body">
                        <p class="product-category">
                            Oriflame
                        </p>
                        <h3 class="product-name header-cart-item-name">
                            <a href="#" tabindex="-1">
                                رژ لب کرمی OnColour قرمز تیره
                            </a>
                        </h3>
                        <h4 class="product-price header-cart-item-info">
                            ۸۴۰٫۰۰۰ ريال
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End -->
<!-- Start parallax -->
<div class="parallax">

</div>
<!-- End Parallax -->
<!-- Latest Products -->
@await Component.InvokeAsync("LatestArrivals")
<!-- End -->
<!-- Latest News -->
<div class="main">
    <h1>آخرین اخبار</h1>
    <ul class="blogs">
        <li class="blog_item">
            <div class="blog-card">
                <div class="blog_image">
                    <img src="~/Theme/assets/image/blog/13.png">
                </div>
                <div class="blog-card__details">
                    <span class="blog-card__details--time"><i class="fa fa-clock-o"></i> 1400/01/12 </span>
                </div>
                <div class="blog_content">
                    <h2 class="blog_title">کالکشن جدید مردانه</h2>
                    <p class="blog_text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                    <button class="blg-btn">ادامه مطلب</button>
                </div>
            </div>
        </li>
        <li class="blog_item">
            <div class="blog-card">
                <div class="blog_image"><img src="~/Theme/assets/image/blog/14.png"></div>
                <div class="blog-card__details">
                    <span class="blog-card__details--time"><i class="fa fa-clock-o"></i> 1400/01/12 </span>
                </div>
                <div class="blog_content">
                    <h2 class="blog_title">کالکشن جدید مردانه</h2>
                    <p class="blog_text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                    <button class="blg-btn">ادامه مطلب</button>
                </div>
            </div>
        </li>
        <li class="blog_item">
            <div class="blog-card">
                <div class="blog_image"><img src="~/Theme/assets/image/blog/12.png"></div>
                <div class="blog-card__details">
                    <span class="blog-card__details--time"><i class="fa fa-clock-o"></i> 1400/01/12 </span>
                </div>
                <div class="blog_content">
                    <h2 class="blog_title">کالکشن جدید مردانه</h2>
                    <p class="blog_text">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                    <button class="blg-btn">ادامه مطلب</button>
                </div>
            </div>
        </li>


    </ul>
</div>

<!-- End -->